<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
    <title>WeatherApp</title>
</head>
<body>
<section>
    <header>
        <div th:replace="fragments/main :: navigation"></div>
    </header>
</section>
<section>
    <article>
        <div class="container d-flex flex-column justify-content-evenly align-items-center w-100 h-100">
            <div th:replace="fragments/main :: search"></div>
            <div th:if="${#lists.isEmpty(weatherResponses)}">
                <h4 class="text-center">You have not add any location yet</h4>
            </div>

            <div class="container" th:unless="${#lists.isEmpty(weatherResponses)}">
                <div class="row">
                    <div class="card col-sm-12 col-md-4 col-l-3" th:each="response : ${weatherResponses}">
                        <div class="card-header">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex flex-column">
                                    <div class="locationName" th:text="${response.locationName}"></div>
                                    <div class="currentTime" th:text="${response.currentTime}"></div>
                                </div>
                                <i class="closeIcon bi bi-x-circle-fill"></i>
                            </div>
                        </div>
<!--                            <div class="card-header text-white bg-primary d-flex justify-content-between align-items-center">-->
<!--                                <div class="d-flex flex-column">-->
<!--                                    <div class="locationName" th:text="${response.locationName}"></div>-->
<!--                                    <div class="currentTime" th:text="${response.currentTime}"></div>-->
<!--                                </div>-->
<!--                                <i class="closeIcon bi bi-x-circle-fill"></i>-->
<!--                            </div>-->
<!--                            <div class="card-body">-->
<!--                                <div class="d-flex w-100 h-25">-->
<!--                                    <div class="temperature" th:text="${response.temperature} + '&deg'"></div>-->
<!--                                    <div class="weatherImage"><img class="img-fluid" th:src="@{'https://openweathermap.org/img/wn/' + ${response.icon} + '@2x.png'}" alt="weather icon"></div>-->
<!--                                    <div class="description-container d-flex flex-column">-->
<!--                                        <div class="description" th:text="${response.description}"></div>-->
<!--                                        <div class="feelsLike" th:text="'Feels like: ' + ${response.feelsLike} + '&deg'"></div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>


<!--            <div th:unless="${#lists.isEmpty(weatherResponses)}" class="container d-flex justify-content-evenly align-items-center">-->
<!--                <div class="card" th:each="response : ${weatherResponses}">-->
<!--                    <div class="card-header text-white bg-primary d-flex justify-content-between align-items-center w-100">-->
<!--                        <div class="locationName" th:text="${response.locationName}"></div>-->
<!--                        <div class="dateTime" th:text="${response.currentTime}"></div>-->
<!--                        <i class="closeIcon bi bi-x-circle-fill"></i>-->
<!--                    </div>-->
<!--                    <div class="card-body">-->
<!--                        <div class="d-flex justify-content-between align-items-center w-100">-->
<!--                            <div class="temperature w-50 h-25 text-center text-primary" th:text="${response.temperature} + '&deg'"></div>-->
<!--                            <img class="weatherImage w-50 h-25 img-fluid" th:src="@{'https://openweathermap.org/img/wn/' + ${response.icon} + '@2x.png'}" alt="weather icon">-->
<!--                        </div>-->
<!--                        <div class="description text-center" th:text="${response.description}"></div>-->
<!--                        <div class="feelsLike text-center" th:text="'Feels like: ' + ${response.feelsLike} + '&deg'"></div>-->
<!--                        <div class="d-flex justify-content-evenly align-items-center w-100">-->
<!--                            <div class="w-25 text-center"><i class="iconWind text-primary bi bi-wind"></i></div>-->
<!--                            <div class="humidity w-75 text-center" th:text="${response.windSpeed} + 'm/s, ' + ${response.windDirection}"></div>-->
<!--                        </div>-->
<!--                        <div class="d-flex justify-content-evenly align-items-center w-100">-->
<!--                            <div class="w-25 text-center"><i class="iconHumidity text-primary bi bi-droplet-fill"></i></div>-->
<!--                            <div class="humidity w-75 text-center" th:text="${response.humidity} + '%'"></div>-->
<!--                        </div>-->
<!--                        <div class="d-flex justify-content-evenly align-items-center w-100">-->
<!--                            <div class="w-25 text-center"><i class="iconPressure text-primary bi bi-speedometer"></i></div>-->
<!--                            <div class="pressure w-75 text-center" th:text="${response.pressure} + 'hPa'"></div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </article>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>