@media only screen and (min-width: 1200px) {
    .mydiv {
        background: red;
    }

    .card {
        width: 40%;
    }

    .card-body {
        background: #E0E0E0;
    }

    .description-container {
        width: 40%;
    }

    .locationName {
        font-size: 22px;
    }

    .currentTime {
        font-size: 16px;
    }

    .closeIcon {
        height: 100%;
        font-size: 36px;
    }

    .temperature {
        width: 30%;
        font-size: 64px;
    }

    .weatherImage {
        width: 30%;
        height: 100%;
    }

    .description {
        font-size: 22px;
    }

    .feelsLike {
        font-size: 16px;
    }

    .iconWind, .iconHumidity, .iconPressure {
        font-size: 24px;
    }
}