* {
	padding: 0px;
	margin: 0px;
	border: none;
}

article {
    padding: 0 1em 0 1em;
}

@media (min-width: 320px) and (max-width: 991px) {
    .form-container {
        width: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .form-container {
         width: 80%;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .form-container {
         width: 70%;
    }
}

@media (min-width: 1400px) {
    .form-container {
         width: 60%;
    }
}